/*Styles for article container*/
.profile-article {
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 2px solid #007bff;
    border-radius: 10px;
    background-color: #007bff;
}

/*Profile picture*/
.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto 20px;
    display: block;
    object-fit: cover;
}

/*Flex container for boxes*/
.info-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

/*Contact box and company box and links box*/
.contact-box, .company-box, .links-box {
    width: 100%;
    padding: 5px;
    margin: 2px 0;
    background-color: #007bff;
    text-align: center;
}


/*Media query for desktop (768 and up)*/
@media screen and (min-width: 768px) {
    .profile-article {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
}

.profile-pic {
        margin-right: 20px;
        transform: translateX(-20px)
    }

    .info-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .contact-box, .company-box {
        width: 100%;
    }
}